html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  
background-image: url('/'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
 

.app-container {

  background-repeat: no-repeat;
  background-size: auto 100vh;  
  background-position: center top; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1;
  padding: 2rem;
}

footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
